body {
  background: linear-gradient(to bottom, #615dad, #ffc8da);
  max-width: 80vmin;
  min-height: 100vh;
  margin: 0 auto;
  color: #ffffff;
}



h1 {
  font-family: "Lobster";
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 5px;
  text-align: center;
}

h2 {
  font-family: sans-serif;
}


.container {
  display: flex;
  align-items: center;
  gap: 10px;
}


.play-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: auto;
}

.play-buttons a {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #ffffff;
}

.home {
  background-color: #1fcca4;
}

.home:hover {
  background-color: #1cbb96;
}

.restart {
  background-color: #0197f6;
}

.restart:hover {
  background-color: #0090e9;
}

.area {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  border: 1px solid black;
  width: 100%;
  aspect-ratio: 1;
}


.playfield {
  background: rgba(255, 255, 255, 0.4);
  aspect-ratio: 1;
  border: 1px solid rgb(94, 93, 93);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


.playfield:hover,
.playfield:focus {
  background: rgba(255, 255, 255, 0.6);
}

@keyframes scaleUp {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.board__field--circle::before,
.board__field--cross::before {
  content: '';
  display: block;
  width: 80%;
  height: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: scaleUp 0.15s ease-out;
}

.board__field--circle::before {
  background-image: url('circle_black.svg');
}

.board__field--cross::before {
  background-image: url('cross_black.svg');
}

/*
.board__field--circle {
  background-image: url('circle_black.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.board__field--cross {
  background-image: url('cross_black.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}
*/
